<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu"v class="mobile-menu-check">
     <label class="show-mobile-menu">menu</label>
      <ul class="header-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">gallery</a></li>
        <li><a href="/blog">blog</a></li>
        <li><a href="{{ site.posts.first.url }}">Recent POst</a></li>
      </ul>
  </nav>
    <a href="/" class="header-logo">
      <img src="/images/logo.png" alt="learn enough">
   </a>
</header>